@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 20px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header--page-404 {
  background-color: $bg;
}

.logo__img {
  width: 160px;
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+&__list-item {
    margin-left: 40px;
  }

  &__list-link {
    padding-bottom: 2px;
    color: $title;
    @extend %roboto-400;
    transition: all .3s;
  }

  &__list-link:hover,
  &__list-link--active {
    color: $accent;
  }
}

.user-nav {
  display: flex;
  margin-top: 10px;
  margin-right: 15px;

  &__link {
    position: relative;

    path {
      transition: all .3s;
    }
  }

  &__link:hover path {
    fill: $accent;
  }

  &__link+&__link {
    margin-left: 25px;
  }

  &__num {
    position: absolute;
    background-color: $accent;
    border-radius: 50%;
    color: #fff;
    top: -9px;
    right: -16px;
    font-size: 14px;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
  }
}

.footer {
  background-color: $bg;
}

.footer-top {
  padding: 35px 0;
  border-bottom: 1px solid #ececec;
  display: flex;

  &__contact {
    width: 250px;
    margin-right: 50px;
  }

  &__logo {
    margin-bottom: 8px;
    display: block;
  }

  &__address,
  &__email,
  &__phone {
    display: inline-block;
    margin-bottom: 10px;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__social-list {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  &__social-item+&__social-item {
    margin-left: 18px;
  }

  &__social-link path {
    fill: #000;
    transition: all .3s;
  }

  &__social-link:hover path {
    fill: $accent;
  }

  &__nav {
    width: 170px;
    margin-right: 30px;
  }

  &__title {
    color: $title;
    @extend %roboto-400;
    margin: 22px 0 24px;
    font-size: 20px;
    line-height: 26px;
  }

  &__list-link {
    display: inline-block;
    margin-bottom: 6px;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__item-form {
    max-width: 470px;
  }

  &__text {
    margin-bottom: 28px;
  }

  &__form-input {
    max-width: 340px;
    width: 100%;
    padding: 5px 10px;
    height: 36px;
    border: 1px solid #ccc;
    margin-right: 10px;
    filter: drop-shadow(20px 0px 30px rgba(202, 202, 202, 0.35));

    &::placeholder {
      color: #000;
    }
  }

  &__form-btn {
    @extend %btn;
    color: #000;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;

  &__accept {
    display: flex;
    align-items: center;
  }

  &__accept-text {
    margin-right: 25px;
  }

  &__accept-list {
    display: flex;
  }

  &__accept-item+&__accept-item {
    margin-left: 25px;
  }
}

.page {
  padding: 60px 0;
  background-color: $bg;
  text-align: center;

  .page__title {
    @extend %roboto-400;
  }
}

.breadcrumbs {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding-right: 24px;
    margin-right: 15px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/angle-right.svg');
      width: 9px;
      height: 10px;
      right: 0;
      top: 12px;
    }
  }

  &__item:last-child {
    color: $accent;
    padding-right: 0;
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  &__link {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: all .3s;

    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}

.breadcrumbs__item:last-child {
  .breadcrumbs__link {
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}

.top-slider {
  background-color: $bg;
  padding: 10px 0 19px;

  &__container {
    max-width: 1560px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    padding-left: 180px;
    margin-right: 20px;
  }

  &__title {
    text-align: left;
    margin: 80px 0 40px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__link {
    @extend %btn;
  }

  &__img {
    height: 480px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -40px;

    li {
      line-height: 0;

      button {
        padding: 0;
        font-size: 0;
        line-height: 0;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #000;
        cursor: pointer;
        position: relative;
      }

      button::before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: #000;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &+li {
        margin-left: 14px;
      }

      &.slick-active button {
        border: 1px solid $accent;
      }

      &.slick-active button::before {
        background-color: $accent;
      }
    }
  }
}

.info-categories {
  padding: 40px 0;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  &__item {
    padding: 25px;
    filter: drop-shadow(20px 0px 30px rgba(202, 202, 202, 0.35));
    background-color: #fff;
    width: 370px;
  }

  &__item-title {
    margin: 10px 0;
    color: $title;
    font-size: 20px;
    line-height: 26px;
    @extend %roboto-400;
  }
}

.categories {
  &__items {
    display: grid;
    min-height: 510px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }

  &__item {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: $bg;
    padding: 25px;
    transition: all .3s;

    &:hover {
      background-color: #ececec;
    }
  }

  &__item-title {
    color: $title;
    font-size: 20px;
    line-height: 26px;
    @extend %roboto-400;
    transition: all .3s;
  }

  &__item:hover &__item-title {
    color: $accent;
  }
}

.video-fashion {
  background-color: $bg;
  padding: 60px 0;

  &__inner {
    display: flex;
  }

  &__popup {
    margin-right: 60px;
    max-width: 500px;
    width: 100%;
    height: 480px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__play {
    transition: all .3s;

    &:hover {
      transform: scale(0.91);
    }
  }

  &__play-img {
    width: 80px;
  }

  &__content {
    max-width: 570px;
  }

  &__title {
    text-align: left;
    margin: 30px 0;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__link {
    @extend %btn;
  }
}

.product {
  padding: 60px 0;
  text-align: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 20px;
  }

  &__link {
    @extend %btn;
    margin-top: 40px;
  }
}

.product-item {
  max-width: 370px;
  text-align: center;

  &.product-item--list {
    min-width: 100%;
    display: flex;
    margin-bottom: 20px;
    min-height: 255px;
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }

    .product-item__img {
      width: 300px;
      height: 255px;
    }

    .product-item__box {
      padding: 15px 15px 15px 20px;
      border: 1px solid #ccc;
      border-left: none;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .product-item__buying {
      display: block;
      margin: 7px 0;
    }

    .product-item__price {
      margin-right: 0;
    }

    .product-item__buying-link {
      display: none;
    }

    .product-item__text,
    .product-item__btn {
      display: block;
    }
  }

  &__link {
    display: block;
    overflow: hidden;
  }

  &__img {
    height: 430px;
    width: 100%;
    object-fit: cover;
    object-position: top center;
    display: block;
  }

  &__box {
    padding: 15px 15px 0;
  }

  &__title {
    color: $title;
    font-size: 18px;
    @extend %roboto-400;
    display: inline-block;
    transition: all .3s;
  }

  &__name:hover &__title {
    color: $accent;
  }

  &__buying {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__price {
    margin-right: 20px;
    color: $title;
    font-size: 18px;
  }

  &__buying-link {
    margin-top: 8px;

    path {
      transition: all .3s;
    }

    &:hover path {
      fill: $accent;
    }
  }

  &__text {
    display: none;
    margin-bottom: 15px;
  }

  &__btn {
    @extend %btn;
    display: none;
    margin-bottom: 0;
    margin-top: auto;
    width: fit-content;
  }
}

.promo {
  padding: 60px 0;
  background-color: $bg;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 40%;
  text-align: center;

  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }

  &__clock {
    margin: 30px 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__clock-item {
    background-color: #fff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 30px;
      line-height: 32px;
      @extend %roboto-700;
      color: $title;
    }
  }

  &__link {
    @extend %btn;
  }
}

.partners {
  padding: 60px 0 30px;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item-img {
    height: 36px;
  }
}

.blog {
  padding: 30px 0 60px;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    filter: drop-shadow(20px 0px 30px rgba(202, 202, 202, 0.35));
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-img {
    width: 370px;
    height: 340px;
    object-fit: cover;
    object-position: top center;
  }

  &__item-box {
    width: 100%;
    padding: 25px;
  }

  &__item-title {
    margin: 8px 0;
    color: $title;
    font-size: 20px;
    line-height: 26px;
    @extend %roboto-400;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__item-link {
    display: block;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }
}

.blog-box {
  display: flex;
  align-items: center;

  &__author,
  &__date {
    padding-left: 32px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__author {
    margin-right: 25px;
    transition: all .3s;

    &::before {
      background-image: url('../images/icons/user.svg');
      transition: all .3s;
    }
  }

  &__author:hover {
    color: $accent;

    &::before {
      background-image: url('../images/icons/user-accent.svg');
    }
  }

  &__date {
    font-size: 18px;

    &::before {
      background-image: url('../images/icons/time.svg');
    }
  }
}

.modal {
  padding: 60px 0;
  max-width: 460px;
  margin: 0 auto;

  &__links {
    text-align: center;
    margin-bottom: 40px;
  }

  &__link {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: all .3s;

    &:hover {
      border-bottom: 1px solid #000;
    }
  }

  &__link+&__link {
    margin-left: 39px;
  }

  &__link--active {
    border-bottom: none;
    color: $accent;

    &:hover {
      border-bottom: none;
    }
  }

  &__label {
    margin-bottom: 30px;
    display: block;
  }

  &__input {
    width: 100%;
    padding: 5px 10px;
    height: 36px;
    background-color: $bg;
    border: none;
    margin-top: 10px;
  }

  &__btn {
    display: block;
    width: 100%;
    @extend %btn;
    margin-bottom: 25px;
    color: #000;
  }

  &__forgotpassword {
    color: $accent;
  }

  &__text {
    margin-bottom: 30px;
  }
}

.page-404 {
  padding: 220px 0;
  text-align: center;

  &__num {
    @extend %roboto-700;
    font-size: 40px;
    line-height: 58px;
    color: $title;
  }

  .page-404__title {
    @extend %roboto-400;
    margin-bottom: 40px;
  }

  &__link {
    @extend %btn;
  }
}

.shop {
  padding: 60px 0;

  &__inner {
    display: flex;
  }

  &__filters {
    max-width: 300px;
    width: 100%;
    margin-right: 20px;
  }
}

.filter {
  &__item {
    padding: 15px;
    border: 1px solid #ccc;
  }

  &__item+&__item {
    margin-top: 20px;
  }

  &__title {
    color: $title;
    font-size: 20px;
    line-height: 26px;
    @extend %roboto-400;
    margin-bottom: 10px;
  }
}

.filter-search {
  &__form {
    display: flex;
  }

  &__input {
    max-width: 236px;
    width: 100%;
    padding: 5px 10px;
    height: 36px;
    background-color: $bg;
    border: none;

    &::placeholder {
      color: #000;
    }
  }

  &__btn {
    width: 36px;
    height: 36px;
    @extend %btn;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ececec;

    path {
      transition: all .3s;
    }

    &:hover path {
      fill: $accent;
    }
  }
}

.filter-category {
  &__label {
    margin-bottom: 15px;
    display: block;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-category__checkbox {
      background-color: $accent;
      color: #fff;
    }
  }

  &__checkbox {
    background-color: $bg;
    display: block;
    padding: 5px 10px;
  }
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  &__btn {
    @extend %btn;
    border: 1px solid #ccc;
  }
}

.irs--flat .irs-line {
  background-color: $bg;
  height: 5px;
  top: 9px;
}

.irs--flat .irs-handle {
  top: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  filter: drop-shadow(0 0 6.5px rgba(90, 90, 90, 0.2));
  border: 1px solid #ccc;
  cursor: pointer;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  height: 5px;
  background-color: $accent;
  top: 9px;
}

.irs-from,
.irs-to,
.irs-single,
.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat {
  height: 22px;
}

.filter-size {
  &__label {
    padding-left: 30px;
    display: block;
    cursor: pointer;

    &+& {
      margin-top: 15px;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-size__checkbox {
      background-image: url('../images/icons/check-on-red.svg');
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $accent;

      &+.filter-size__text {
        color: $accent;
      }
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: absolute;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: 3px;
  }
}

.filter-color {
  &__label {
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &+.filter-color__label {
      padding-top: 15px;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-color__checkbox {
      background-image: url('../images/icons/check-on-black.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &:checked+.filter-color__checkbox--black {
      background-image: url('../images/icons/check-on-white.svg');
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -20px;
    margin-top: 4px;
    border: 1px solid #ccc;
  }

  &__checkbox--red {
    background-color: $accent;
  }

  &__checkbox--orange {
    background-color: #ffac1c;
  }

  &__checkbox--yellow {
    background-color: #ffea00;
  }

  &__checkbox--green {
    background-color: #50c878;
  }

  &__checkbox--blue {
    background-color: #0096ff;
  }

  &__checkbox--purple {
    background-color: #bf40bf;
  }

  &__checkbox--white {
    background-color: #fff;
  }

  &__checkbox--black {
    background-color: #000;
  }
}

.jq-selectbox,
.jq-select-multiple {
  display: block;
}

.jq-selectbox__select {
  padding: 0 35px 0 15px;
  cursor: pointer;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 10px;
  height: 5px;
  border: none;
  background-image: url('../images/icons/angle-down.svg');
}

.jq-selectbox__dropdown ul {
  padding: 0 15px;
  background-color: $bg;
  cursor: pointer;
}

.shop-content {
  width: 100%;

  &__filter {
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filter-buttons {
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  &__filter-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: 15px;
    line-height: 0;
    cursor: pointer;

    &.shop-content__filter-btn--active {
      path {
        fill: $accent;
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  &__inner.shop-content__inner--list {
    display: block;
  }
}

.product-page {
  padding: 60px 0;
}

.product-one {
  &__inner {
    display: flex;
  }

  &__slide {
    width: 660px;
    margin-right: 30px;
  }

  &__title {
    margin-bottom: 20px;
    color: $title;
    font-size: 22px;
    line-height: 30px;
    @extend %roboto-400;
  }

  &__price {
    font-size: 18px;
  }

  &__text {
    margin: 20px 0;
  }

  &__btn {
    @extend %btn;
    margin-left: 15px;
  }
}

.product-filter {
  &__color {
    label {
      display: flex;
      align-items: center;
    }
  }

  &__color,
  &__size {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    label {
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &__text {
    font-size: 18px;
    margin-right: 15px;
  }

  &__label-text {
    margin-right: 7px;
  }

  &__color-input {
    @extend %radio-hidden;

    &:checked {
      &+.product-filter__color-checkbox {
        border-color: $accent;
      }
    }
  }

  &__size-input {
    @extend %radio-hidden;

    &:checked {
      &+.product-filter__size-checkbox {
        border-color: $accent;
        color: $accent;
      }
    }
  }

  &__color-checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid #ccc;
    position: relative;
    display: inline-block;

    span {
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      top: 3px;
      left: 3px;
      border: 1px solid #ccc;
    }
  }

  &__size-checkbox {
    padding: 7px;
    border: 1px solid #ccc;
    min-width: 40px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-slide {
  display: flex;

  .slick-vertical .slick-slide {
    height: 140px;
    margin-bottom: 20px;
  }

  &__part {
    width: 140px;
    margin-right: 20px;
  }

  &__part-item {
    width: 140px;
    height: 140px;
    cursor: pointer;
    margin-bottom: 20px;

    img {
      width: 140px;
      height: 140px;
      object-fit: cover;
      object-position: top;
    }
  }

  &__bigpart {
    width: 500px;

    img {
      width: 500px;
      height: 621px;
      object-fit: cover;
      object-position: top;
    }
  }
}

.product-info {
  &__list {
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-right: 15px;
    font-size: 18px;
  }
}

.jq-number {
  padding: 0;
  position: relative;
}

.jq-number__field {
  width: 110px;
  filter: drop-shadow(0px 7px 10px rgba(192, 192, 192, 0.3));
}

.jq-number__field input {
  width: 100%;
  height: 36px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.jq-number__spin.minus {
  left: 9px;
}

.jq-number__spin.plus {
  right: 9px;
}

.jq-number__spin::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8d8d8d;
  width: 14px;
  height: 2px;
}

.jq-number__spin.plus::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8d8d8d;
  width: 2px;
  height: 14px;
}

.product-tabs {
  padding-top: 40px;

  &__top {
    margin-bottom: 20px;
  }

  &__top-item {
    font-size: 20px;
    line-height: 26px;

    &+.product-tabs__top-item {
      margin-left: 40px;
    }
  }

  &__top-item--active {
    color: $accent;
  }

  &__content-item {
    display: none;

    &.product-tabs__content-item--active {
      display: block;
    }
  }
}

.details {
  &__title {
    font-size: 18px;
    margin-bottom: 8px;
    @extend %roboto-400;
  }

  &__text {
    margin-bottom: 8px;
  }

  &__item {
    padding-left: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #000;
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.comments {
  margin-bottom: 20px;

  &__top {
    display: flex;
    margin-bottom: 4px;
    font-size: 18px;
    align-items: center;
  }

  &__name {
    margin-right: 25px;
  }
}

.comments-form {
  margin-top: 25px;

  &__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 26px;
  }

  &__box-input {
    display: flex;
    margin-bottom: 20px;
  }

  &__text-input {
    width: 50%;
    padding: 5px 10px;
    height: 36px;
    border: 1px solid #ccc;
    filter: drop-shadow(20px 0px 30px rgba(202, 202, 202, 0.35));
  }

  &__text-input+&__text-input {
    margin-left: 20px;
  }

  &__textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #ccc;
    filter: drop-shadow(20px 0px 30px rgba(202, 202, 202, 0.35));
    padding: 5px 10px;
    margin-bottom: 20px;
  }

  &__btn {
    @extend %btn;
  }
}

.related {
  padding-bottom: 60px;

  .related__title {
    @extend %roboto-400;
    margin-bottom: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

.blog-page {
  padding: 60px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 770px;
    margin-right: 30px;
  }

  &__aside {
    width: 370px;

    .filter-search__input {
      max-width: 300px;
    }
  }

  &__item+&__item {
    margin-top: 25px;
  }

  &__link {
    display: block;
  }

  &__img {
    max-width: 770px;
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  &__item-box {
    border: 1px solid #ccc;
    border-top: none;
    padding: 15px 15px 15px 20px;
  }

  &__item-title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 26px;
    color: $title;
    @extend %roboto-400;
    transition: all .3s;
  }

  &__item-title:hover {
    color: $accent;
  }

  &__item-text {
    margin-top: 15px;
  }

  &__popup {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__play {
    transition: all .3s;

    &:hover {
      transform: scale(0.91);
    }
  }

  &__play-img {
    width: 84px;
  }
}

.latest-post {
  padding: 15px;
  border: 1px solid #ccc;
  margin: 20px 0;

  &__title {
    color: $title;
    font-size: 20px;
    line-height: 26px;
    @extend %roboto-400;
    margin-bottom: 15px;
  }

  &__item {
    display: flex;

    &+.latest-post__item {
      border-top: 1px solid #ccc;
      padding-top: 15px;
      margin-top: 15px;
    }
  }

  &__item-link {
    display: block;
    margin-right: 15px;
    min-width: 140px;
    height: 140px;
  }

  &__img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: top center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__box-title {
    color: $title;
    font-size: 19px;
    @extend %roboto-400;
    margin-bottom: 12px;
    transition: all .3s;

    &:hover {
      color: $accent;
    }
  }

  &__date {
    font-size: 18px;
    padding-left: 32px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/time.svg');
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}





@import 'media';